<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/header', { title: title }) %>
  </head>
  <body>
    <%- include('../../partials/top', { active: active }) %>
    <div class="container-fluid">
      <h3>Google Authenticator QR code:</h3>
      <img class="qrcode" src="<%= qrcode %>" />
      I have my code, let me <a href="/">log in</a>.
    </div>
  </body>
</html>
