<div class="header">
  <h1>OSS Auth Server</h1>
</div>
<div class="menu">
  <ul>
    <li<%- (active === 'home') ? ' class="active"':'' %>>
      <a href="/">Home</a>
    </li>
    <li<%- (active === 'users') ? ' class="active"':'' %>>
      <a href="/users">Users</a>
    </li>
  </ul>
</div>
