<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header', { title: title }) %>
  </head>
  <body>
    <%- include('../partials/top', { active: active }) %>
    <div class="container-fluid">
      <div class="col-sm-offset-4 col-sm-4">
        <h3>Secured area:</h3>
        Congratz! You've reached the secured area.
      </div>
    </div>
  </body>
</html>
